@model EventCateringManagementSystem.Models.ViewModel.DetailMenu
@{
    ViewBag.Title = "Details";
}

<a class="btn btn-primary float-end" href="/Menu/List">Back to list</a>
<h2>@Model.SelectedMenu.MenuTitle</h2>
<div><strong>Menu Description:</strong> @Model.SelectedMenu.MenuDescription</div>


<div class="col-md-6 col-sm-12">
    @{
        decimal subtotal = 0;
        int initialQty = 1;
    }
    @if (Model.SelectedFood.Count() > 0)
    {
        <hr />
        <h4>Menu Items in menu:</h4>
        foreach (var menu in Model.SelectedFood)
        {
            subtotal += (menu.Price * menu.Quantity);
            <div class="ledgeritem">
                <div class="form-check d-flex">
                    &nbsp;
                    <form action="/Menu/UnAssociate" method="POST">
                        <input class="d-none" name="MenuID" value="@menu.MenuID" />
                        <input class="d-none" name="FoodID" value="@menu.FoodID" />
                        <input class="d-none" name="MxFId" value="@menu.MenuxFoodID" />
                        <input class="d-none" name="Quantity" value="@(menu.Quantity-1)" />
                        <input type="submit" value="-" />
                    </form>
                    &nbsp;
                    <form action="/Menu/Associate" method="POST">
                        <input class="d-none" name="MenuID" value="@menu.MenuID" />
                        <input class="d-none" name="FoodID" value="@menu.FoodID" />
                        <label class="form-check-label" for="flexCheckChecked">
                            &nbsp; @menu.FoodName &nbsp;
                        </label>
                        <input class="d-none" name="Quantity" value="@(menu.Quantity+1)" />
                        <input type="submit" value="+" />
                    </form>
                    <div>&nbsp; @menu.Quantity x @menu.FoodName &nbsp;</div>
                </div>
            </div>
        }
    }

    @if (Model.AvailableFood.Count() > 0)
    {
        <hr />
        <h4>Available menu:</h4>
        foreach (var menu in Model.AvailableFood)
        {

            <div class="ledgeritem">
                <div class="form-check d-flex">
                    <form action="/Menu/Associate" method="POST">
                        <input class="d-none" name="MenuID" value="@Model.SelectedMenu.MenuID" />
                        <input class="d-none" name="FoodID" value="@menu.FoodID" />

                        <label class="form-check-label" for="flexCheckChecked">
                            @menu.FoodName
                        </label>
                        <input class="d-none" name="Quantity" value="@initialQty" />
                        <input type="submit" value="+" />
                    </form>
                </div>
            </div>
        }
    }
    <hr />
    <div>Total : $ @subtotal</div>
</div>