@model n01629153_Event_Management.Models.UserDto
@{
    ViewBag.Title = "Details";
}

<a class="btn btn-primary mt-3 float-end" href="/User/List">Back to list</a>
<h2>@Model.UserName</h2>
<div><strong>First Name:</strong> @Model.FirstName </div>
<div><strong>Last Name:</strong> @Model.LastName </div>
<div><strong>E-mail:</strong> @Model.Email </div>
<div><strong>Phone Number:</strong> @Model.PhoneNumber </div>

