@model n01629153_Event_Management.Models.ViewModel.UpdateEvent
@{
    ViewBag.Title = "Edit";
}

<h2>Edit Event</h2>

<a class="btn btn-primary mt-3 float-end" href="/Event/List">Back to list</a>
<form action="/Event/Update/@Model.SelectedEvent.EventId" method="POST" class="mt-3">
    <div style="display:none;">
        @* Pass through the event ID *@
        <input type="text" name="EventId" value="@Model.SelectedEvent.EventId" />
    </div>
    <div class="mb-3">
        <label for="eventName" class="form-label">Event Name:</label>
        <input type="text" class="form-control" id="eventName" placeholder="Enter event name" name="EventName" value="@Model.SelectedEvent.EventName">
    </div>
    <div class="mb-3">
        <label for="eventDescription" class="form-label">Event Description:</label>
        <textarea class="form-control" id="eventDescription" rows="3" name="EventDescription">@Model.SelectedEvent.EventDescription</textarea>
    </div>
    <div class="mb-3">
        <label for="eventDate" class="form-label">Event Date:</label>
        <input type="date" class="form-control" id="eventDate" name="EventDate" value="@ViewBag.EventDate">
    </div>
    <div class="mb-3">
        <label for="eventLocation" class="form-label">Event Location:</label>
        <input type="text" class="form-control" id="eventLocation" placeholder="Enter event location" name="EventLocation" value="@Model.SelectedEvent.EventLocation">
    </div>
    <div class="mb-3">
        <label for="sponsorId" class="form-label">Sponsored By:</label>
        <select class="form-select" name="SponsorId" id="sponsorId">
            <option disabled>---Select Sponsors---</option>
            @foreach (var sponsor in Model.SponsorOptions)
            {
                string selected = "";
                if (sponsor.SponsorId == Model.SelectedEvent.SponsorId)
                {
                    selected = "selected";
                }
                <option value="@sponsor.SponsorId" @selected>@sponsor.SponsorName</option>
            }
        </select>
    </div>
    <div class="mb-3">
        <label for="userId" class="form-label">Organized By:</label>
        <select class="form-select" name="UserId" id="userId">
            <option disabled>---Select Users---</option>
            @foreach (var user in Model.UserOptions)
            {
                string selected = "";
                if (user.UserId == Model.SelectedEvent.UserId)
                {
                    selected = "selected";
                }
                <option value="@user.UserId" @selected>@user.UserName</option>
            }
        </select>
    </div>
    <div class="mb-3">
        <input type="submit" class="btn btn-primary mb-3" value="Update">
    </div>
</form>