﻿﻿@model EventCateringManagementSystem.Models.ViewModel.DetailEvent
@{
    ViewBag.Title = "Details";
}

<a class="btn btn-primary float-end" href="/Event/List">Back to list</a>
<h2>@Model.SelectedEvent.EventName</h2>
<div><strong>Event Description:</strong> @Model.SelectedEvent.EventDescription</div>
<div><strong>Event Date:</strong> @Model.SelectedEvent.EventDate.ToString("MM/dd/yyyy")</div>
<div><strong>Event Location:</strong> @Model.SelectedEvent.EventLocation</div>
<hr/>
<a class="btn btn-primary float-end" href="/Menu/New">Add Menu</a>

<div class="col-md-6 col-sm-12">
    <h4>Menus Responsible for @Model.SelectedEvent.EventName - Event:</h4>
    @foreach (var menu in Model.SelectedMenus)
    {
        <a style="color:#ab2020;" href="/Menu/Details/@menu.MenuID">@menu.MenuTitle</a><br/>
    }
</div>